.website {
    * {
        font-family: "Raleway", sans-serif;
    }
}
.theme-green .bs-datepicker-head {
    background-color: #133960;
}
.theme-green .bs-datepicker-body table td.week span {
    color: #133960;
}
