
<div class="container">
    
    <div class="main">
        <div class="main-text">
            <p>Main Image</p>
            <p>This image will be shown in the tournament search and also as a banner.</p>
        </div>
        <ng-container *ngIf="s2==true">
            <div class="img-box">
                <i style="font-size: 30px;" class="far fa-image"></i>
                <p>Click to add image</p>
                
            </div>
        </ng-container>

        <ng-container *ngIf="s3==true">
            <div class="img-load">
                <img src="/assets/images/rolling2.svg" alt="">
                <p>uploading image</p>
                
            </div>
        </ng-container>

        <ng-container *ngIf="s4==true">
            
            <div class="img-loaded">
                <img src="/assets/images/header2.jpg" alt="">
                <div class="img-info">
                    <div class="img-name">
                        <p>header.jpg</p>
                        <p>1.1mb</p>
                    </div>
                    <div class="btns">
                        <button type="button"><i class="fas fa-download"></i></button>
                        <button type="button"><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
            
        </ng-container>

    </div>
    <div class="main">
        <div class="main-text">
            <p>Gallery Images</p>
            <p>These images will be displayed on detail tournament page and in gallery section.</p>
        </div>
        <ng-container *ngIf="s2==true">
        
            <div class="img-box2">
                    <i style="font-size: 60px;" class="far fa-images"></i>
                    <p>Drag and Drop Images here</p>
                    <p>or</p>
                    <button class="btn ci" type="button">Choose Images</button>
                
            </div>
        </ng-container>
        <ng-container *ngIf="s3==true">
            <div class="img-load2">
                <div class="loading-img"><img src="/assets/images/rolling2.svg" alt=""><p>uploading image</p></div>
                <div class="loading-img"><img src="/assets/images/rolling2.svg" alt=""><p>uploading image</p></div>
                <div class="loading-img"><img src="/assets/images/rolling2.svg" alt=""><p>uploading image</p></div>
                <div class="loading-img"><img src="/assets/images/rolling2.svg" alt=""><p>uploading image</p></div>
                <div class="loading-img"><img src="/assets/images/rolling2.svg" alt=""><p>uploading image</p></div>
                <div class="loading-img"><img src="/assets/images/rolling2.svg" alt=""><p>uploading image</p></div>
                <div class="loading-img"><img src="/assets/images/rolling2.svg" alt=""><p>uploading image</p></div>
                <div class="loading-img"><img src="/assets/images/rolling2.svg" alt=""><p>uploading image</p></div>
                <div class="loading-img"><img src="/assets/images/rolling2.svg" alt=""><p>uploading image</p></div>
                <div class="drag-bar">
                    <p><i style="margin:0px 10px;" class="fas fa-cloud-upload-alt"></i>Drag image here to upload</p>
                    <button class="btn-wh" type="button">Choose Images</button>
                </div>
          </div>


        </ng-container>
        <ng-container *ngIf="s4==true">
            <div class="img-load2">
                <div class="loaded-img">
                    <div class="side-img">
                        <img src="/assets/images/header.jpg" alt="">
                    </div>
                    
                    <div class="side-area">
                        <div class="img-name">
                            <p>header.jpg</p>
                            <p>1.1mb</p>
                        </div>
                        <div class="btns">
                            <button type="button"><i class="fas fa-download"></i></button>
                            <button type="button"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="loaded-img">
                    <div class="side-img">
                        <img src="/assets/images/header.jpg" alt="">
                    </div>
                    
                    <div class="side-area">
                        <div class="img-name">
                            <p>header.jpg</p>
                            <p>1.1mb</p>
                        </div>
                        <div class="btns">
                            <button type="button"><i class="fas fa-download"></i></button>
                            <button type="button"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="loaded-img">
                    <div class="side-img">
                        <img src="/assets/images/header.jpg" alt="">
                    </div>
                    
                    <div class="side-area">
                        <div class="img-name">
                            <p>header.jpg</p>
                            <p>1.1mb</p>
                        </div>
                        <div class="btns">
                            <button type="button"><i class="fas fa-download"></i></button>
                            <button type="button"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="loaded-img">
                    <div class="side-img">
                        <img src="/assets/images/header.jpg" alt="">
                    </div>
                    
                    <div class="side-area">
                        <div class="img-name">
                            <p>header.jpg</p>
                            <p>1.1mb</p>
                        </div>
                        <div class="btns">
                            <button type="button"><i class="fas fa-download"></i></button>
                            <button type="button"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="loaded-img">
                    <div class="side-img">
                        <img src="/assets/images/header.jpg" alt="">
                    </div>
                    
                    <div class="side-area">
                        <div class="img-name">
                            <p>header.jpg</p>
                            <p>1.1mb</p>
                        </div>
                        <div class="btns">
                            <button type="button"><i class="fas fa-download"></i></button>
                            <button type="button"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="loaded-img">
                    <div class="side-img">
                        <img src="/assets/images/header.jpg" alt="">
                    </div>
                    
                    <div class="side-area">
                        <div class="img-name">
                            <p>header.jpg</p>
                            <p>1.1mb</p>
                        </div>
                        <div class="btns">
                            <button type="button"><i class="fas fa-download"></i></button>
                            <button type="button"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="loaded-img">
                    <div class="side-img">
                        <img src="/assets/images/header.jpg" alt="">
                    </div>
                    
                    <div class="side-area">
                        <div class="img-name">
                            <p>header.jpg</p>
                            <p>1.1mb</p>
                        </div>
                        <div class="btns">
                            <button type="button"><i class="fas fa-download"></i></button>
                            <button type="button"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="loaded-img">
                    <div class="side-img">
                        <img src="/assets/images/header.jpg" alt="">
                    </div>
                    
                    <div class="side-area">
                        <div class="img-name">
                            <p>header.jpg</p>
                            <p>1.1mb</p>
                        </div>
                        <div class="btns">
                            <button type="button"><i class="fas fa-download"></i></button>
                            <button type="button"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="loaded-img">
                    <div class="side-img">
                        <img src="/assets/images/header.jpg" alt="">
                    </div>
                    
                    <div class="side-area">
                        <div class="img-name">
                            <p>header.jpg</p>
                            <p>1.1mb</p>
                        </div>
                        <div class="btns">
                            <button type="button"><i class="fas fa-download"></i></button>
                            <button type="button"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="drag-bar">
                    <p><i style="margin:0px 10px;" class="fas fa-cloud-upload-alt"></i>Drag image here to upload</p>
                    <button class="btn-wh" type="button">Choose Images</button>
                </div>
          </div>
        </ng-container>
        
        
    </div>
    <div class="btn-box">
        
        <button class="btn" type="button" (click)="step4()">Previous</button>
        <button class="btn" type="button"(click)="step3()">&nbsp;Next &nbsp;</button>
    </div>
</div>
